<app-navbar [headerTitle]="'Add Food'"></app-navbar>
<ion-content color="primary">
  <ion-card class="card-center" color="light">
    <ion-item lines="none">
      <app-scanner class="center"></app-scanner>
    </ion-item>
    <form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Food Name</ion-label>
        <ion-input type="text" formControlName="foodName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Serving Size</ion-label>
        <ion-input type="text" formControlName="servingSize" required></ion-input>
        <ion-select
          multiple="false"
          formControlName="weightType"
          cancelText="Cancel"
          okText="Select"
        >
          <ion-select-option value="Grams">Grams</ion-select-option>
          <ion-select-option value="KG">KG</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Calories</ion-label>
        <ion-input formControlName="calories" type="text"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-button (click)="onSubmit()" size="large" class="center"
          >Add</ion-button
        >
      </ion-item>
    </form>
  </ion-card>
</ion-content>
