.grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  place-content: center;
}

.card {
  padding: 60px;
  border-radius: 20px;
}

ion-button {
  display: flex;
  flex-direction: column;
}

ion-icon {
  padding-right: 5px;
}
