<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<app-navbar></app-navbar>

<ion-content class="padding">

  <ion-card>
    <!--Image Full legth with card cause it looks better-->
    <div class="image-container">
      <img src="https://image.shutterstock.com/image-vector/user-icon-trendy-flat-style-260nw-418179865.jpg"
        style="height: 300px;">

    </div>
    <!--User Name here maybe-->
    <h2 style="text-align: center; font-weight: bold;">Mark Rafter</h2>

    <!--Main info is in here-->
    <div class="main-container">

      <!--pedometor info here-->
      <div class="Pedometor-Data">
        <h2 style="text-align: center;">Pedometor</h2>
        <canvas id="pedometorCanvas"></canvas>
      </div>
      <hr>

      <!--Food Calories here-->
      <div class="Food-Data" style="width: 100%;">
        <h2 style="text-align: center;">Todays Calories</h2>
        <canvas id="doughnut"></canvas>
      </div>

      <hr>
      <!--Workouts-->
      <div class="Workout-Data">


      </div>

    </div>
  </ion-card>
</ion-content>