<app-navbar [headerTitle]="'Profile'"></app-navbar>
<ion-content color="primary">
  <ion-grid class="ion-text-center grid">
    <ion-row>
      <ion-card color="light" class="card">
        <!--Image Full legth with card cause it looks better-->
        <ion-row style="height: 100;">
          <ion-col>
            <ion-item>
              <ion-img src=""> </ion-img>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-title class="pad" size="large">
                Mark Rafter
              </ion-title>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--pedometor info here-->
        <ion-row>
          <ion-col>
            <ion-item class="Pedometor-Data">
              <ion-title style="text-align: center;" size="undefined">
                Pedometer
              </ion-title>
            </ion-item>

            <canvas id="pedometorCanvas"></canvas>
          </ion-col>
        </ion-row>
        <!--Food Calories here-->
        <ion-row>
          <ion-col>
            <ion-item class="Food-Data" style="width: 100%;">
              <ion-title style="text-align: center;" size="undefined">
                Todays Calories
              </ion-title>
            </ion-item>
            <canvas id="doughnut"></canvas>
          </ion-col>
        </ion-row>
        <!--Workouts-->
        <ion-item class="Workout-Data"></ion-item>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
