<app-navbar [headerTitle]="'Profile'"></app-navbar>
<ion-content color="primary">
  <ion-grid class="ion-text-center grid">
    <ion-row>
      <ion-card color="light" class="card">
        <ion-item>
          <ion-title class="pad" size="large" *ngIf="result">
            Welcome back {{authUser.username}}
          </ion-title>
        </ion-item>
        <ion-row style="height: 100;">
          <ion-col>
            <ion-item>
              <ion-title class="pad" size="large">
                quote of the day!
                <ion-label class="Quote ion-text-wrap" *ngIf="result"
                  >{{result.contents.quotes[0].quote}}</ion-label
                >
              </ion-title>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="Pedometor-Data">
              <ion-title style="text-align: center;" size="undefined">
                Calories for the last 7 days
              </ion-title>
            </ion-item>

            <canvas id="pedometorCanvas"></canvas>
          </ion-col>
        </ion-row>
        <!--Food Calories here-->
        <ion-row>
          <ion-col>
            <ion-item class="Food-Data" style="width: 100%;">
              <ion-title style="text-align: center;" size="undefined">
                Todays macro split.
              </ion-title>
            </ion-item>
            <canvas id="doughnut"></canvas>
          </ion-col>
        </ion-row>
        <!--Workouts-->
        <ion-item class="Workout-Data"></ion-item>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
