ion-content {
    font-family: sans-serif;
    color: #3c3939;
    background-color: gray;
}

ion-card {
    width: auto;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.image-container {
    position: relative;

}


hr {
    color: black;
}