<app-navbar [headerTitle]="'Food-Diary'"></app-navbar>
<ion-content color="primary">
  <ion-grid>
    <ion-card *ngFor ="let diaries of foodDiaries; let i = index;" color="light" class="cards">
      <ion-item class="header">
        <ion-title class="title">Breakfast</ion-title>
        <ion-fab horizontal="end">
          <ion-fab-button
            routerDirection="forward"
            [routerLink]="['/add-food']"
            size="small"
            class="buttonSize"
            ><ion-icon name="add"></ion-icon
          ></ion-fab-button>
        </ion-fab>
      </ion-item>
      <ion-list *ngFor = "let f of diaries.foods;" >
        <ion-item *ngIf = "f.mealType == 'breakfast'">
          <ion-label>{{f.foodName}}</ion-label>
          <ion-label class="ion-text-end">{{f.calories}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card *ngFor ="let diaries of foodDiaries; let i = index;" color="light" class="cards">
      <ion-item class="header">
        <ion-title class="title">Lunch</ion-title>
        <ion-fab horizontal="end">
          <ion-fab-button
            routerDirection="forward"
            [routerLink]="['/add-food']"
            size="small"
            class="buttonSize"
            ><ion-icon name="add"></ion-icon
          ></ion-fab-button>
        </ion-fab>
      </ion-item>
      <ion-list *ngFor = "let f of diaries.foods;" >
        <ion-item *ngIf = "f.mealType == 'lunch'">
          <ion-label>{{f.foodName}}</ion-label>
          <ion-label class="ion-text-end">{{f.calories}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card *ngFor ="let diaries of foodDiaries; let i = index;" color="light" class="cards">
      <ion-item class="header">
        <ion-title class="title">Dinner</ion-title>
        <ion-fab horizontal="end">
          <ion-fab-button
            routerDirection="forward"
            [routerLink]="['/add-food']"
            size="small"
            class="buttonSize"
            ><ion-icon name="add"></ion-icon
          ></ion-fab-button>
        </ion-fab>
      </ion-item>
      <ion-list *ngFor = "let f of diaries.foods;">
        <ion-item *ngIf = "f.mealType == 'dinner'">
          <ion-label>{{f.foodName}}</ion-label>
          <ion-label class="ion-text-end">{{f.calories}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card *ngFor ="let diaries of foodDiaries; let i = index;" color="light" class="cards">
      <ion-item class="header">
        <ion-title class="title">Snacks</ion-title>
        <ion-fab horizontal="end">
          <ion-fab-button
            routerDirection="forward"
            [routerLink]="['/add-food']"
            size="small"
            class="buttonSize"
            ><ion-icon name="add"></ion-icon
          ></ion-fab-button>
        </ion-fab>
      </ion-item>
      <ion-list *ngFor = "let f of diaries.foods;">
        <ion-item *ngIf = "f.mealType == 'snack'">
          <ion-label>{{f.foodName}}</ion-label>
          <ion-label class="ion-text-end">{{f.calories}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-grid>
</ion-content>
