.cards {
  margin-top: 50px;
  border-radius: 20px;
}

.header {
  border-bottom: solid #142850;
}

.title {
  padding: 0;
  text-align: left;
  font-weight: bold;
}

.buttonSize {
  padding: 6px;
}

ion-list {
  padding: 0px;
}

ion-label {
  margin-right: 0;
  white-space: pre-wrap !important;
}

.color {
  background-color: #142850;
  padding-top: 5px;
}
