.cards {
  margin-top: 50px;
  border-radius: 20px;
}

.grid {
  display: flex;
  flex-direction: column;
  place-content: center;
}

.header {
  border-bottom: solid #142850;
}

.mainTitle {
  font-weight: bold;
}
