<app-navbar [headerTitle]="'Food-Diary'"></app-navbar>
<ion-content color="primary">
  <ion-grid class="grid">
    <ion-card color="light" class="cards">
      <ion-item class="header">
        <ion-title class="mainTitle">Breakfast</ion-title>
        <ion-fab horizontal="end">
          <ion-fab-button
            routerDirection="forward"
            [routerLink]="['/add-food']"
            size="small"
            ><ion-icon name="add"></ion-icon
          ></ion-fab-button>
        </ion-fab>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label>Cereal</ion-label>
          <ion-label class="ion-text-end">20 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Banana</ion-label>
          <ion-label class="ion-text-end">80 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Porridge</ion-label>
          <ion-label class="ion-text-end">226 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Biscuits</ion-label>
          <ion-label class="ion-text-end">46 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Cock</ion-label>
          <ion-label class="ion-text-end">69 cals</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card color="light" class="cards">
      <ion-item class="header">
        <ion-title class="mainTitle">Lunch</ion-title>
        <ion-fab horizontal="end">
          <ion-fab-button
            routerDirection="forward"
            [routerLink]="['/add-food']"
            size="small"
            ><ion-icon name="add"></ion-icon
          ></ion-fab-button>
        </ion-fab>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label>Cereal</ion-label>
          <ion-label class="ion-text-end">20 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Banana</ion-label>
          <ion-label class="ion-text-end">80 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Porridge</ion-label>
          <ion-label class="ion-text-end">226 cals</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card color="light" class="cards">
      <ion-item class="header">
        <ion-title class="mainTitle">Dinner</ion-title>
        <ion-fab horizontal="end">
          <ion-fab-button
            routerDirection="forward"
            [routerLink]="['/add-food']"
            size="small"
            ><ion-icon name="add"></ion-icon
          ></ion-fab-button>
        </ion-fab>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label>Cereal</ion-label>
          <ion-label class="ion-text-end">20 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Banana</ion-label>
          <ion-label class="ion-text-end">80 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Porridge</ion-label>
          <ion-label class="ion-text-end">226 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Biscuits</ion-label>
          <ion-label class="ion-text-end">46 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Cock</ion-label>
          <ion-label class="ion-text-end">69 cals</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card color="light" class="cards">
      <ion-item class="header">
        <ion-title class="mainTitle">Snacks</ion-title>
        <ion-fab horizontal="end">
          <ion-fab-button
            routerDirection="forward"
            [routerLink]="['/add-food']"
            size="small"
            ><ion-icon name="add"></ion-icon
          ></ion-fab-button>
        </ion-fab>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label>Cereal</ion-label>
          <ion-label class="ion-text-end">20 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Banana</ion-label>
          <ion-label class="ion-text-end">80 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Porridge</ion-label>
          <ion-label class="ion-text-end">226 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Biscuits</ion-label>
          <ion-label class="ion-text-end">46 cals</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Cock</ion-label>
          <ion-label class="ion-text-end">69 cals</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-grid>
</ion-content>
