.logo{
    height: 65%;
    width: 65%;
    margin: auto;
    display: block;
}
.ion-text-center{
    padding: 5%;
}
a{
    color: orange;
}
.color{
    color: white;
}
--button-color{
    color: white;
}
.roundedInput{
    border-radius: 5rem !important;
    margin: 1%;
}