<ion-app>
  <ion-split-pane contentId="menu-content">
    <ion-menu contentId="menu-content">
      <ion-list>
        <ion-menu-toggle>
          <ion-item>
            <ion-label [routerLink]="['/home']" [routerDirection]="root"
              >Home</ion-label
            >
          </ion-item>
          <ion-item>
            <ion-label [routerLink]="['/profile']" [routerDirection]="root"
              >Profile</ion-label
            >
          </ion-item>
          <ion-item>
            <ion-label [routerLink]="['/food-diary']" [routerDirection]="root"
              >Food</ion-label
            >
          </ion-item>
          <ion-item>
            <ion-label
              [routerLink]="['/workout-tracker']"
              [routerDirection]="root"
              >Workout</ion-label
            >
          </ion-item>
          <ion-item>
            <ion-label [routerLink]="['/pedometer']" [routerDirection]="root"
              >Pedometer</ion-label
            >
          </ion-item>
          <ion-item>
            <ion-button (click)="Logout()" [routerDirection]="root"
              >Logout</ion-button
            >
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
