.logo{
    height: 65%;
    width: 65%;
    margin: auto;
    display: block;
}
.ion-text-center{
    padding: 5%;
}
a{
    color: orange;
}
ion-button{
    color: white;
}
.roundedInput{
    border-radius: 5rem !important;
    margin: 1%;
    align-content: center !important;
    align-items: center !important;
}