<app-navbar [headerTitle]="'Pedometer'"></app-navbar>
<ion-content class="ion-padding" color="primary">
  <ion-button
    size="large"
    shape="round"
    color="success"
    expand="block"
    icon-left
    (click)="startTracking()"
    *ngIf="!isTracking"
  >
    <ion-icon name="locate"></ion-icon>
    Start Run
  </ion-button>
  <ion-button
    size="large"
    shape="round"
    color="danger"
    expand="block"
    icon-left
    (click)="stopTracking()"
    *ngIf="isTracking"
  >
    <ion-icon name="hand"></ion-icon>
    Finish Run
  </ion-button>
  <ion-card color="green">
    <div #map id="map"></div>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-list-header color="light">Previous Runs</ion-list-header>

      <ion-item color="light" *ngFor="let route of previousTracks" lines="none">
        {{ route.finished | date }}
        <ion-button fill="clear" item-end (click)="showHistoryRoute(route.path)"
          >View Run</ion-button
        >
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-item lines="none" class="ion-text-center">
    <ion-button
      center
      color="danger"
      size="small"
      expand="block"
      shape="round"
      (click)="clearTracks()"
      >Clear Old Runs</ion-button
    >
  </ion-item>
</ion-content>
