<app-navbar [headerTitle]="'Running'"></app-navbar>
<ion-content class="ion-padding" color="primary">
  <ion-button
    size="large"
    shape="round"
    color="success"
    expand="block"
    icon-left
    (click)="startWorkout()"
    *ngIf="!isTracking"
  >
    <ion-icon name="locate"></ion-icon>
    Start Run
  </ion-button>
  <ion-button
    size="large"
    shape="round"
    color="danger"
    expand="block"
    icon-left
    (click)="stopWorkout()"
    *ngIf="isTracking"
  >
    <ion-icon name="hand"></ion-icon>
    Finish Run
  </ion-button>
  <ion-card color="green">
    <div #map id="map"></div>
  </ion-card>

  <ion-card>
    <ion-item
      color="light"
      *ngFor="let route of previousTracks"
      lines="none"
      class="runs"
    >
      {{ route.finished | date }}
      <ion-button fill="clear" item-end (click)="showOldWorkouts(route.path)"
        >View Run</ion-button
      >
    </ion-item>
  </ion-card>

  <ion-button
    center
    color="danger"
    expand="block"
    shape="round"
    (click)="clearOldWorkouts()"
    size="small"
    >Clear Old Runs</ion-button
  >
</ion-content>
