<app-navbar [headerTitle]="'Rest-Timer'"></app-navbar>
<ion-content color="primary">
  <!--Adding the datetime picker-->
  <ion-item color="primary">
    <ion-label> Rest Duration</ion-label>
    <ion-datetime
      display-format="mm:ss"
      placeholder="Tap here"
      [(ngModel)]="fullTime"
    >
    </ion-datetime>
  </ion-item>

  <!-- Circle progress timer and its settings -->
  <div class="progresscircle">
    <circle-progress
      (click)="startTimer()"
      [percent]="percent"
      [maxPercent]="100"
      [radius]="160"
      [showSubtitle]="true"
      [subtitleFontSize]="50"
      [space]="8"
      [showUnits]="true"
      [outerStrokeWidth]="16"
      [showZeroOuterStroke]="false"
      [backgroundStrokeWidth]="3"
      [outerStrokeGradient]="false"
      [showInnerStroke]="true"
    ></circle-progress>
  </div>

  <p>{{elapsed.h}}:{{elapsed.m}}:{{elapsed.s}}</p>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="timer == false; else running">
      <ion-fab-button (click)="startTimer()">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
    </ng-container>
    <ng-template #running>
      <ion-fab-button (click)="stopTimer()">
        <ion-icon name="square"></ion-icon>
      </ion-fab-button>
    </ng-template>
  </ion-fab>
</ion-content>
