<app-navbar></app-navbar>
<ion-content color="dark">
  <!--Adding the datetime picker-->
  <ion-item color="primary">
    <ion-label> Rest Duration</ion-label>
    <ion-datetime
      display-format="mm:ss"
      placeholder="Tap here"
      [(ngModel)]="fullTime"
    >
    </ion-datetime>
  </ion-item>

  <!-- Circle progress timer and its settings -->
  <div style="height: 50%">
    <circle-progress
      (click)="startTimer()"
      [percent]="percent"
      [maxPercent]="100"
      [radius]="radius"
      [showTitle]="false"
      [showSubtitle]="true"
      [subtitle]="remainingTime"
      [subtitleFontSize]="40"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [outerStrokeColor]="primary"
      [showZeroOuterStroke]="false"
      [backgroundGradientStopColor]="primary"
      [backgroundStrokeWidth]="3"
      [outerStrokeGradient]="true"
      [showInnerStroke]="false"
    ></circle-progress>
  </div>

  <p>{{elapsed.h}}:{{elapsed.m}}:{{elapsed.s}}</p>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="timer == false; else running">
      <ion-fab-button (click)="startTimer()">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
    </ng-container>
    <ng-template #running>
      <ion-fab-button (click)="stopTimer()">
        <ion-icon name="square"></ion-icon>
      </ion-fab-button>
    </ng-template>
  </ion-fab>
</ion-content>
