<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="Workout">Edit {{Workout.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid>
    <ion-card *ngIf="Workout">
      <ion-item>
        <ion-title>{{Workout.name}}</ion-title>
      </ion-item>
      <ion-list>
        <ion-label>Exercises</ion-label>
        <ion-item *ngFor="let exercise of exercises">
          <ion-label>{{exercise.name}}</ion-label>
          <ion-fab-button
            class="ion-text-end"
            size="small"
            (click)="deleteExercise(exercise._id)"
          >
            <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-button
          shape="round"
          class="btn"
          size="Large"
          [routerLink]="['/workout-tracker']"
          >Update Workout</ion-button
        >
      </ion-item>
    </ion-card>
  </ion-grid>
</ion-content>
