<app-navbar [headerTitle] = "'Home'"></app-navbar>
<ion-content color="primary" >
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <ion-card color="light">
          <ion-row>
            <ion-col>
              <ion-button><ion-icon name="home"></ion-icon></ion-button>
            </ion-col>
            <ion-col>
              <ion-button><ion-icon name="home"></ion-icon> </ion-button>
            </ion-col>
          </ion-row>
            <ion-row>
              <ion-col>
              <ion-button><ion-icon name="home"></ion-icon></ion-button>
            </ion-col>
            <ion-col>
                <ion-button><ion-icon name="home"></ion-icon></ion-button>
              </ion-col>
              </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>  
  </ion-grid>
</ion-content>