<app-navbar [headerTitle]="'Home'"></app-navbar>
<ion-content color="primary">
  <ion-grid class="ion-text-center">
    <ion-row style="height: 100;">
      <ion-col>
        <div class="vertical-center">
          <ion-img
            src="assets/fitleet-logo.png"
            class="logo ion-align-self-end"
          ></ion-img>
        </div>
        <ion-card color="light" class="card">
          <ion-row>
            <ion-col>
              <ion-button
                shape="round"
                class="btn"
                size="Large"
                routerDirection="forward"
                [routerLink]="['/profile']"
                ><ion-icon name="person"></ion-icon> Profile</ion-button
              >
            </ion-col>
            <ion-col>
              <ion-button
                shape="round"
                class="btn"
                size="Large"
                routerDirection="forward"
                [routerLink]="['/pedometer']"
                ><ion-icon name="md-stats"></ion-icon> Running</ion-button
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                shape="round"
                class="btn"
                size="Large"
                routerDirection="forward"
                [routerLink]="['/food-diary']"
                ><ion-icon name="pizza"></ion-icon> Food</ion-button
              >
            </ion-col>
            <ion-col>
              <ion-button
                shape="round"
                class="btn"
                size="Large"
                routerDirection="forward"
                [routerLink]="['/work-select']"
                ><ion-icon name="fitness"></ion-icon> Workout</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
