<ion-header>
  <ion-toolbar color="secondary" class="ion-text-start">
    <ion-item color="secondary" lines="none">
      <ion-menu-button color="light">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-menu-button>
      <ion-title>Workouts</ion-title>
    </ion-item>
    <ion-buttons slot="primary">
      <a [routerLink]="['/work-select']">
        <ion-button color="light">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid>
    <ion-row *ngIf="Workouts && Workouts.length">
      <ion-col>
        <ion-card
          class="rounded"
          color="light"
          *ngFor="let workoutPast of Workouts; let i = index;"
        >
          <ion-item
            color="light"
            [routerLink]="['/edit-workout',workoutPast._id ]"
          >
            <ion-item class="Workouts">{{workoutPast.name}}</ion-item>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="Workouts && !Workouts.length">
      <ion-col size="12" class="ion-text-center">
        <ion-icon class="icon-x-large" color="medium" name="sad"></ion-icon>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-label color="medium">You have no workouts</ion-label>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-label color="medium">Click the + icon to add one</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
