.container {
    position: relative;
    margin: auto;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}


.ArmFix{
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}