<app-navbar [headerTitle]="'Workouts'"></app-navbar>

<ion-content color="primary">
  <ion-grid class="ion-text-center grid">
    <ion-card color="light" class="card">
      <ion-row>
        <ion-col>
          <ion-button
            shape="round"
            class="btn"
            size="Large"
            routerDirection="forward"
            [routerLink]="['/workout-arms']"
          >
            <ion-icon src="../../../assets/strong.svg"></ion-icon>
            <ion-text>Arms</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            shape="round"
            class="btn"
            size="Large"
            routerDirection="forward"
            [routerLink]="['/workout-arms']"
          >
            <ion-icon src="../../../assets/men-leg.svg"></ion-icon>
            <ion-text>Legs</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            shape="round"
            class="btn"
            size="Large"
            routerDirection="forward"
            [routerLink]="['/workout-arms']"
          >
            <ion-icon src="../../../assets/shoulder.svg"></ion-icon>
            <ion-text>Shoulder</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
